<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matheus Nobre</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="index.html" class="menu-item">Home</a>
            <a href="about.html" class="menu-item">Sobre Mim</a>
            <a href="projects.html" class="menu-item">Projetos</a>
            <a href="contact.html" class="menu-item-atual">Contato</a>
        </nav>
    </header>
</body>
</html>